@use '../Common';

$microphone-selection-panel-padding: 8px;

.microphone-selection-panel
{
    padding: $microphone-selection-panel-padding;
    height: Common.$microphone-selection-panel-height - $microphone-selection-panel-padding * 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
