// Keep this file in sync with common/px.json
$px: (
  shadow-size: 16px,
  recording-panel-width: 392px,
  recording-panel-height: 90px,
  settings-panel-width: 392px,
  settings-panel-height: 488px,
  display-selection-panel-width: 194px,
  display-selection-panel-height: 224px,
  video-preview-panel-width: 392px,
  video-preview-panel-height: 324px,
  panel-margin-size: 8px,
  app-offset-x: -22px,
  app-offset-y: -26px
);
